Tesco.Com.Pipeline/Service References/DeviceIdentificationSvc/DeviceIdentification.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ukdev66aping01v.dotcom.tesco.org:81/DeviceIdentificationService/DeviceIdentification.svc?xsd=xsd3" />
  <xs:import schemaLocation="http://ukdev66aping01v.dotcom.tesco.org:81/DeviceIdentificationService/DeviceIdentification.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Tesco.Com.AppStore.DeviceIdentification" />
  <xs:element name="GetDeviceFamily">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userAgent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="context" nillable="true" type="CallContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceFamilyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tesco.Com.AppStore.DeviceIdentification" minOccurs="0" name="GetDeviceFamilyResult" nillable="true" type="q1:DeviceFamily" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>