Tesco.Com.Pipeline/Service References/DeviceIdentificationSvc/DeviceIdentification.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tesco.com/appstore/proxy/1" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tesco.com/appstore/proxy/1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tesco.com/appstore/proxy/1/Imports">
      <xsd:import schemaLocation="http://ukdev66aping01v.dotcom.tesco.org:81/DeviceIdentificationService/DeviceIdentification.svc?xsd=xsd0" namespace="http://tesco.com/appstore/proxy/1" />
      <xsd:import schemaLocation="http://ukdev66aping01v.dotcom.tesco.org:81/DeviceIdentificationService/DeviceIdentification.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ukdev66aping01v.dotcom.tesco.org:81/DeviceIdentificationService/DeviceIdentification.svc?xsd=xsd2" namespace="http://tesco.com/appstore/messages/1" />
      <xsd:import schemaLocation="http://ukdev66aping01v.dotcom.tesco.org:81/DeviceIdentificationService/DeviceIdentification.svc?xsd=xsd3" />
      <xsd:import schemaLocation="http://ukdev66aping01v.dotcom.tesco.org:81/DeviceIdentificationService/DeviceIdentification.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Tesco.Com.AppStore.DeviceIdentification.Messages" />
      <xsd:import schemaLocation="http://ukdev66aping01v.dotcom.tesco.org:81/DeviceIdentificationService/DeviceIdentification.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Tesco.Com.AppStore.Core.MessageTypes" />
      <xsd:import schemaLocation="http://ukdev66aping01v.dotcom.tesco.org:81/DeviceIdentificationService/DeviceIdentification.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Tesco.Com.AppStore.DeviceIdentification" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRemoteServiceProxyContract_Send_InputMessage">
    <wsdl:part name="parameters" element="tns:Send" />
  </wsdl:message>
  <wsdl:message name="IRemoteServiceProxyContract_Send_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteServiceProxyContract_SendRequestXml_InputMessage">
    <wsdl:part name="parameters" element="tns:SendRequestXml" />
  </wsdl:message>
  <wsdl:message name="IRemoteServiceProxyContract_SendRequestXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendRequestXmlResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteServiceProxyContract_Post_InputMessage">
    <wsdl:part name="parameters" element="tns:Post" />
  </wsdl:message>
  <wsdl:portType name="IRemoteServiceProxyContract">
    <wsdl:operation name="Send">
      <wsdl:input wsaw:Action="http://tesco.com/appstore/proxy/1/IRemoteServiceProxyContract/Send" message="tns:IRemoteServiceProxyContract_Send_InputMessage" />
      <wsdl:output wsaw:Action="http://tesco.com/appstore/proxy/1/IRemoteServiceProxyContract/SendResponse" message="tns:IRemoteServiceProxyContract_Send_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendRequestXml">
      <wsdl:input wsaw:Action="http://tesco.com/appstore/proxy/1/IRemoteServiceProxyContract/SendRequestXml" message="tns:IRemoteServiceProxyContract_SendRequestXml_InputMessage" />
      <wsdl:output wsaw:Action="http://tesco.com/appstore/proxy/1/IRemoteServiceProxyContract/SendRequestXmlResponse" message="tns:IRemoteServiceProxyContract_SendRequestXml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Post">
      <wsdl:input wsaw:Action="http://tesco.com/appstore/proxy/1/IRemoteServiceProxyContract/Post" message="tns:IRemoteServiceProxyContract_Post_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>