Tesco.Com.Pipeline/Service References/DeviceIdentificationSvc/DeviceIdentification1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CallContext">
    <xs:sequence>
      <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="business" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerSegment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userIdentity" nillable="true" type="UserIdentity" />
      <xs:element minOccurs="0" name="storeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productInstance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="region" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CallContext" nillable="true" type="CallContext" />
  <xs:complexType name="UserIdentity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthenticationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAuthenticated" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserIdentity" nillable="true" type="UserIdentity" />
  <xs:simpleType name="DeviceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DeviceNotFound" />
      <xs:enumeration value="PC" />
      <xs:enumeration value="Mobile" />
      <xs:enumeration value="Tablet" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DeviceType" nillable="true" type="DeviceType" />
</xs:schema>