Tesco.Com.Pipeline/Service References/DeviceIdentificationSvc/DeviceIdentification4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tesco.Com.AppStore.DeviceIdentification" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tesco.Com.AppStore.DeviceIdentification" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ukdev66aping01v.dotcom.tesco.org:81/DeviceIdentificationService/DeviceIdentification.svc?xsd=xsd3" />
  <xs:complexType name="DeviceFamily">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeviceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserAgent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="capabilities" nillable="true" type="tns:ArrayOfCapability" />
      <xs:element minOccurs="0" name="deviceType" type="DeviceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceFamily" nillable="true" type="tns:DeviceFamily" />
  <xs:complexType name="ArrayOfCapability">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Capability" nillable="true" type="tns:Capability" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCapability" nillable="true" type="tns:ArrayOfCapability" />
  <xs:complexType name="Capability">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Capability" nillable="true" type="tns:Capability" />
</xs:schema>